<div class+ "container-fluid">

<h1> <a href="/users"> Users</a> Groups</h1>

<table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th class="bg-primary">Group ID</th>
        <th class="bg-primary">Group Credits Total</th>
        <th class="bg-primary">Type</th>
        <th class="bg-primary">Boat Assigned</th>
      </tr>
    </thead>
  
  <% @groups.each do |group| %> 
  <tbody>
      <tr>
        <td><button><a href= "/groups/<%= group.id %>/edit"> Edit Group</a></button>  <%= group.id %></td>
        <td><%= group.credits %></td>
        <% if group.full_share %>
        <td>Full Share</td>
        <% elsif group.two_thirds_share %>
        <td>2/3rds Share</td>
        <td> <%= group.boat_assigned %></td>       
      </tr>
    </tbody>
  <% end %>
  <% end %>
</table>


</div>